[Install]
WantedBy=multi-user.target

[Unit]
Description=youtrack service
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker rm -f {{ youtrack_docker_container_name }}
ExecStartPre=/usr/bin/docker pull {{ youtrack_image_name }}:{{ youtrack_image_version }}

ExecStart=/usr/bin/docker run --name {{ youtrack_docker_container_name }} \
  --volume {{ youtrack_data_volume }}:/opt/youtrack/data \
  --volume {{ youtrack_config_volume }}:/opt/youtrack/conf \
  --volume {{ youtrack_logs_volume }}:/opt/youtrack/logs \
  --volume {{ youtrack_backups_volume }}:/opt/youtrack/backups \
  --publish {{ youtrack_interface }}:{{ youtrack_port }}:8080/tcp \
  {{ youtrack_image_name }}:{{ youtrack_image_version }}

ExecStop=-/usr/bin/docker stop {{ youtrack_docker_container_name }}
ExecStopPost=-/usr/bin/docker rm -f {{ youtrack_docker_container_name }}

Restart=always
RestartSec=60s
TimeoutSec=3600
